<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV.Properties.Settings.QLSVConnectionString" connectionString="Data Source=LAPTOP-I8G20P67\DNA;Initial Catalog=QLSV;User ID=sa;Password=Ngocanh2005@;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSV.Properties.Settings.QLSVConnectionString1" connectionString="Data Source=LAPTOP-I8G20P67\DNA;Initial Catalog=QLSV;Persist Security Info=True;User ID=sa;Password=Ngocanh2005@;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSV.Properties.Settings.quanlysvConnectionString"
            connectionString="Data Source=LAPTOP-I8G20P67\DNA;Initial Catalog=quanlysv;User ID=sa;Password=Ngocanh2005@;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>